/* 全局 */
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #FAFAFA;
  text-decoration: none;
}

body {
  font-family: 'Exo', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.max-width {
  max-width: 1024px;
  width: 100%;
}

/* 元素加载 */
.on-load {
  position: relative;
  padding: 20px;
  text-align: center;
  color: #333;
}

.on-load::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  /* 负值为高度的一半 */
  margin-left: -25px;
  /* 负值为宽度的一半 */
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top-color: #ccc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 导航栏 */
nav {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

nav .logo img,
nav .logo svg {
  height: 50px;
  margin-left: 1rem;
}

nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .ul {
  height: 100%;
  align-items: center;
  margin-right: 1rem;
  list-style: none;
  display: flex;
}

nav .ul a {
  text-decoration: none;
  display: inline;
  position: relative;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

nav .ul a[href="#"] {
  background-color: rgba(255, 255, 255, 0.1);
}

nav .ul a:hover {
  background-color: #555;
}

/* 主要内容 */
.container {
  margin: 1rem auto;
  box-sizing: border-box;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container .top-space {
  margin-top: 6rem;
}

.container h1 {
  text-align: center;
  font-size: 50px;
}

.container p {
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
}

.container exegesis {
  color: gray;
}

.container .main-logo {
  width: 75%;
  max-width: 512px;
}

.container .contact {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
}

.container .contact a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  border-radius: .5rem;
  box-sizing: border-box;
  display: flex;
  padding: .5rem;
  text-align: center;
}

/* 加载进度条 */
.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  transition: opacity .4s linear;

  .progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(119, 182, 255, .7);
  }

  &.loading {
    opacity: 1;
    transition: none;

    .progress {
      transition: width .4s ease;
    }
  }
}

/* 背景 */
.area {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  background: #2c818d;
  background: -webkit-linear-gradient(to left, #43c6d9, #2c818d);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* 翻译按钮相关 */
.translateSelectLanguage {
  background-color: #555;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0
}

/* 深色模式相关 */
.darkmode--activated img,
.darkmode--activated svg {
  isolation: isolate;
  mix-blend-mode: difference
}

.darkmode--activated .area {
  isolation: isolate;
  mix-blend-mode: difference;
  background-color: #000;
}

.darkmode--activated select {
  background-color: #E0E0E0;
  color: #000
}